.DS_Store
/frontend/node_modules
/frontend/dist

/frontend/tests/e2e/videos/
/frontend/tests/e2e/screenshots/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

# Frontend files
*.exe
*.pyc
*.code-workspace

venv
*.env*
!*.env*.template
.pytest_cache
.mypy_cache


