[submodule "agents"]
	path = agents
	url = https://github.com/dzooli/tvtrader-agents.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/dzooli/tvtrader-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/dzooli/tvtrader-backend.git
	branch = main
[submodule "fetcher-rest"]
	path = fetcher-rest
	url = https://github.com/dzooli/tvtrader-fetch.git
