aiofiles
allure-pytest-bdd
allure-python-commons
attrs
autopep8
bandit
black
certifi
charset-normalizer
click
colorama
coverage
distlib
execnet
filelock
flake8
gitdb
GitPython
glob2
httptools
idna
iniconfig
Mako
MarkupSafe
mccabe
multidict
mypy
mypy-extensions
packaging
parse
parse-type
pathspec
pbr
pipenv
platformdirs
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-bdd
pytest-cov
pytest-cover
pytest-xdist
pytz
PyYAML
requests
sanic==22.9.1
sanic-ext==22.9.0
sanic-openapi==21.12.0
sanic-routing==22.8.0
six
smmap
stevedore
tomli
typing_extensions
urllib3
virtualenv
virtualenv-clone
websockets
