aiofiles==0.8.0
allure-pytest-bdd==2.11.1
allure-python-commons==2.11.1
aniso8601==9.0.1
attr==0.3.2
attrs==22.1.0
autopep8==1.6.0
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
exceptiongroup==1.0.0
flake8==4.0.1
glob2==0.7
httptools==0.4.0
idna==3.4
iniconfig==1.1.1
Jinja2==3.1.2
jsonschema==4.6.0
Mako==1.2.3
MarkupSafe==2.1.1
mccabe==0.6.1
methodtools==0.4.5
multidict==5.2.0
packaging==21.3
parse==1.19.0
parse-type==0.6.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.2.0
pytest-bdd==6.0.1
pytz==2022.1
PyYAML==6.0
requests==2.28.1
sanic==22.6.2
sanic-ext==22.6.3
sanic-jinja2==2022.1.13
sanic-openapi==21.12.0
sanic-routing==22.3.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.12
websockets==10.3
Werkzeug==2.2.2
wirerope==0.4.6
